	<h3>Parakhi Leave</h3>
	<div class="outer-div">
	<div class="property-div">

		<div class="person">
			<div class="person_detail">
				{{input type="" class="" id="textName" placeholder="Enter Name" value=keyword}}
				<span class="button">
					<button type="submit" {{action 'searchEmployee'}}>Search</button>
				</span><br>
			</div>
			<div class="property">
				{{#each categoryList as |getproperty as index|}}
					<input type="checkbox">{{getproperty}}<br>
				{{/each}}

			<!-- <input type="checkbox">Property1<br>
			<input type="checkbox">Property2<br> -->
			<!-- <input type="checkbox">Property3<br> -->

			</div>
		</div>
	</div> <!-- end of property-div -->
	{{#each data.data as |employee|}}
		<div class="absence person">
			{{employee.attributes.start-date}}
		</div><!--end of absence-->
	{{/each}}

</div> <!-- end of outer-div -->
